/godot/test-output/*
/godot/tests/archives/*
/godot/tests/directories/*

**/*.orig
*.elc
.DS_Store
*.keystore
*.rel
*_archive
*_flymake.*
*~
.\#*
.cargo-ok
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
Cargo.lock
\#*\#
auto-save-list
dist/
flycheck_*.el
godot/*.translation
godot/.import/
godot/.mono/
godot/data_*/
godot/test-output/*
godot/export.cfg
rust/**/*.rs.bk
rust/Cargo.lock
rust/debug/
target/
test.sh
tramp
bin/aarch64-apple-ios/.gitkeep
bin/aarch64-linux-android/.gitkeep
bin/armv7-linux-androideabi/.gitkeep
bin/i686-linux-android/.gitkeep
bin/i686-pc-windows-gnu/.gitkeep
bin/i686-pc-windows-msvc/.gitkeep
bin/i686-unknown-linux-gnu/.gitkeep
bin/wasm32-unknown-emscripten/.gitkeep
bin/x86_64-apple-darwin/.gitkeep
bin/x86_64-linux-android/.gitkeep
bin/x86_64-pc-windows-gnu/.gitkeep
bin/x86_64-pc-windows-msvc/.gitkeep
bin/x86_64-unknown-linux-gnu/.gitkeep
godot/tests/archives/test-basic-level.zip
godot/tests/archives/test-basic-mod.zip
godot/tests/archives/test-level-fixture.zip
godot/tests/archives/test-mod-fixture.zip
godot/tests/archives/test-pack-fixture.zip
godot/tests/archives/test-pack-gauntlet.zip
lib/aarch64-apple-darwin/libgodot_archive_rust.dylib
lib/aarch64-apple-ios/.gitkeep
lib/aarch64-linux-android/.gitkeep
lib/armv7-linux-androideabi/.gitkeep
lib/i686-linux-android/.gitkeep
lib/i686-pc-windows-gnu/.gitkeep
lib/i686-pc-windows-msvc/.gitkeep
lib/i686-unknown-linux-gnu/.gitkeep
lib/universal-apple-darwin/libgodot_archive_rust.dylib
lib/wasm32-unknown-emscripten/.gitkeep
lib/x86_64-apple-darwin/.gitkeep
lib/x86_64-apple-darwin/libgodot_archive_rust.dylib
lib/x86_64-linux-android/.gitkeep
lib/x86_64-pc-windows-gnu/.gitkeep
lib/x86_64-pc-windows-msvc/.gitkeep
lib/x86_64-unknown-linux-gnu/.gitkeep
