/godot/test-output/*
/godot/tests/archives/*
/godot/tests/directories/*

**/*.orig
*.elc
.DS_Store
*.keystore
*.rel
*_archive
*_flymake.*
*~
.\#*
.cargo-ok
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
Cargo.lock
\#*\#
auto-save-list
dist/
flycheck_*.el
godot/*.translation
godot/.import/
godot/.mono/
godot/data_*/
godot/test-output/*
godot/export.cfg
rust/**/*.rs.bk
rust/Cargo.lock
rust/debug/
target/
test.sh
tramp
bin/aarch64-apple-ios/.gitkeep
bin/aarch64-linux-android/.gitkeep
bin/armv7-linux-androideabi/.gitkeep
bin/i686-linux-android/.gitkeep
bin/i686-pc-windows-gnu/.gitkeep
bin/i686-pc-windows-msvc/.gitkeep
bin/i686-unknown-linux-gnu/.gitkeep
bin/wasm32-unknown-emscripten/.gitkeep
bin/x86_64-apple-darwin/.gitkeep
bin/x86_64-linux-android/.gitkeep
bin/x86_64-pc-windows-gnu/.gitkeep
bin/x86_64-pc-windows-msvc/.gitkeep
bin/x86_64-unknown-linux-gnu/.gitkeep
godot/tests/archives/test-basic-level.zip
godot/tests/archives/test-basic-mod.zip
godot/tests/archives/test-level-fixture.zip
godot/tests/archives/test-mod-fixture.zip
godot/tests/archives/test-pack-fixture.zip
godot/tests/archives/test-pack-gauntlet.zip
godot-orig/default_env.tres
godot-orig/export_presets.cfg
godot-orig/project.godot
godot-orig/.import/.gdignore
godot-orig/.import/godot-ferris-16x16.png-7ab54e40b975d856efa5d870d0c8e443.md5
godot-orig/.import/godot-ferris-16x16.png-7ab54e40b975d856efa5d870d0c8e443.stex
godot-orig/.import/godot-ferris-32x32.png-0271578bfe3df43a7ffc305c5d64424e.md5
godot-orig/.import/godot-ferris-32x32.png-0271578bfe3df43a7ffc305c5d64424e.stex
godot-orig/.import/godot-ferris-64x64.png-2d1d24fec018ad234bda8515899932dd.md5
godot-orig/.import/godot-ferris-64x64.png-2d1d24fec018ad234bda8515899932dd.stex
godot-orig/.import/godot-ferris-76x76.png-b1a6decb5b0d0dcaddcbcd7e3e5b3eb8.md5
godot-orig/.import/godot-ferris-76x76.png-b1a6decb5b0d0dcaddcbcd7e3e5b3eb8.stex
godot-orig/.import/godot-ferris-120x120.png-be26d129cdb0483de5a9035f4c0b5657.md5
godot-orig/.import/godot-ferris-120x120.png-be26d129cdb0483de5a9035f4c0b5657.stex
godot-orig/.import/godot-ferris-128x128.png-84c11b8cbe62577ce1f7c57a00bfc544.md5
godot-orig/.import/godot-ferris-128x128.png-84c11b8cbe62577ce1f7c57a00bfc544.stex
godot-orig/.import/godot-ferris-1024x1024.png-ee64a17decf901492637656e83e65502.md5
godot-orig/.import/godot-ferris-1024x1024.png-ee64a17decf901492637656e83e65502.stex
godot-orig/.import/splash_disable.png-26ce772031dd334fa09cd2e6a220ae8c.md5
godot-orig/.import/splash_disable.png-26ce772031dd334fa09cd2e6a220ae8c.stex
godot-orig/assets/godot-ferris-16x16.png
godot-orig/assets/godot-ferris-16x16.png.import
godot-orig/assets/godot-ferris-32x32.png
godot-orig/assets/godot-ferris-32x32.png.import
godot-orig/assets/godot-ferris-64x64.png
godot-orig/assets/godot-ferris-64x64.png.import
godot-orig/assets/godot-ferris-76x76.png
godot-orig/assets/godot-ferris-76x76.png.import
godot-orig/assets/godot-ferris-120x120.png
godot-orig/assets/godot-ferris-120x120.png.import
godot-orig/assets/godot-ferris-128x128.png
godot-orig/assets/godot-ferris-128x128.png.import
godot-orig/assets/godot-ferris-1024x1024.png
godot-orig/assets/godot-ferris-1024x1024.png.import
godot-orig/native/game.gdnlib
godot-orig/native/Game.gdns
godot-orig/native/SpinningCube.gdns
godot-orig/scenes/Game.tscn
godot-orig/scenes/SpinningCube.tscn
.gitignore
lib/aarch64-apple-darwin/libgodot_archive_rust.dylib
lib/aarch64-apple-ios/.gitkeep
lib/aarch64-linux-android/.gitkeep
lib/armv7-linux-androideabi/.gitkeep
lib/i686-linux-android/.gitkeep
lib/i686-pc-windows-gnu/.gitkeep
lib/i686-pc-windows-msvc/.gitkeep
lib/i686-unknown-linux-gnu/.gitkeep
lib/universal-apple-darwin/libgodot_archive_rust.dylib
lib/wasm32-unknown-emscripten/.gitkeep
lib/x86_64-apple-darwin/.gitkeep
lib/x86_64-apple-darwin/libgodot_archive_rust.dylib
lib/x86_64-linux-android/.gitkeep
lib/x86_64-pc-windows-gnu/.gitkeep
lib/x86_64-pc-windows-msvc/.gitkeep
lib/x86_64-unknown-linux-gnu/.gitkeep
